# PTDL - PYTHON PROGRAMMING

# ----------------------------------------------------------

## I/ Python Programming

### Python Hello World

In [1]:
print("Hello World")

Hello World

### Python Syntax

In [ ]:
# example 1
score = 80
if score >=60 :
    print("Pass")

Pass

In [ ]:
# example 2
score = 50
if score >=60 :
    print("Pass")
else:
    print("Fail")

Fail

### Python Variables

In [5]:
# Python Variables
x = 2
print(x)

price = 2.5
print(price)

word = 'Hello'
print(word)

word = 'Hello'
print(word)

word = "Hello"
print(word)

word = '''Hello'''
print(word)

x = 2
y = x + 1
print(y)

2
2.5
Hello
Hello
Hello
Hello
3

### python_version()

In [6]:
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.13.5

### Python Data Types

In [15]:
x = "Hello World" #str
print(x, type(x))

x = 2 #int
print(x, type(x))

x = 2.5 #float
print(x, type(x))

x = 7j #complex
print(x, type(x))

print('----------------------')

x = ["apple", "banana", "cherry"] #list
print(x, type(x))

x = ("apple", "banana", "cherry") #tuple
print(x, type(x))

x = range(6) #range

x = {"name" : "Tom", "age" : 20} #dict
print(x, type(x))

x = {"apple", "banana", "cherry"} #set
print(x, type(x))

x = frozenset({"apple", "banana", "cherry"}) #frozenset
print(x, type(x))

print('----------------------')

x = True #bool
print(x, type(x))

x = b"Hello" #bytes
print(x, type(x))

x = bytearray(5) #bytearray
print(x, type(x))

x = memoryview(bytes(5)) #memoryview
print(x, type(x))

x = None #NoneType
print(x, type(x))

Hello World <class 'str'>
2 <class 'int'>
2.5 <class 'float'>
7j <class 'complex'>
----------------------
['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
{'name': 'Tom', 'age': 20} <class 'dict'>
{'apple', 'banana', 'cherry'} <class 'set'>
frozenset({'apple', 'banana', 'cherry'}) <class 'frozenset'>
----------------------
True <class 'bool'>
b'Hello' <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
<memory at 0x0000027CD0E0E8C0> <class 'memoryview'>
None <class 'NoneType'>

### Python Casting

In [11]:
x = str(3) # x will be '3'
y = int(3) # y will be 3
z = float(3) # z will be 3.0
print(x, type(x))
print(y, type(y))
print(z, type(z))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

### Python Numbers

In [12]:
x = 2 # int
y = 3.4 # float
z = 7j #complex
print(x, type(x))
print(y, type(y))
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
7j <class 'complex'>

### Python Arithmetic Operators

In [16]:
# Python Basic Operators
print('7 + 2 =', 7 + 2)
print('7 - 2 =', 7 - 2)
print('7 * 2 =', 7 * 2)
print('7 / 2 =', 7 / 2)
print('7 // 2 =', 7 // 2)
print('7 % 2 =', 7 % 2)
print('7 ** 2 =', 7 ** 2)

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

### Python Booleans

In [18]:
# Python Booleans: True or False
print(3 > 2)
print(3 == 2)
print(3 < 2)
print(3 >= 2)
print(3 <= 2)
print(3 != 2)

True
False
False
True
False
True

### Python BMI Calculator

In [19]:
# BMI Calculator in Python
height_cm = 170
weight_kg = 60
height_m = height_cm/100
BMI = (weight_kg/(height_m**2))

print("Your BMI is: " + str(round(BMI,1)))

Your BMI is: 20.8

### Future value of a specified principal amount, rate of interest and a number of years

In [20]:
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))

fv =  194.87

### Future Value

In [ ]:
# example 1
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [ ]:
# example 2
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7

future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

## II/ Python Data Structures

### Python Data Types

In [30]:
x = ["apple", "banana", "cherry"] #list
x = ("apple", "banana", "cherry") #tuple
x = {"name" : "Tom", "age" : 20} #dict
x = {"apple", "banana", "cherry"} #set

### Lists []

In [24]:
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])

4
60
70
90

### Tuples ()

In [25]:
x = (10, 20, 30, 40, 50)
print(x[0])
print(x[1])
print(x[2])
print(x[-1])

10
20
30
50

### Sets {}

In [27]:
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

### Dictionary {key : value}

In [28]:
# Python Dictionary
# Key → Value
# 'EN’ → 'English’
# 'FR’ → 'French'

k = { 'EN':'English', 'FR':'French' }

print(k['EN'])
print(k['FR'])

English
French

### Python Data Structures

In [29]:
fruits = ["apple", "banana", "cherry"] #lists []
colors = ("red", "green", "blue") #tuples ()
animals = {'cat', 'dog'} #sets {}
person = {"name" : "Tom", "age" : 20} #dictionaries {}

### Python for Finance Applications

In [ ]:
# example 1
# Python Tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002),
("Inventory", 1003))
for account in accounts:
    print("Account name:", account[0], "Account number:", account[1])

Account name: Cash Account number: 1001
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003

In [ ]:
# example 2
# Python Sets
account_numbers = {1001, 1002, 1003}
new_account_number = 1004
if new_account_number not in account_numbers:
    print("Account number", new_account_number, "is not in use.")

Account number 1004 is not in use.

In [ ]:
# example 3
# Python Dictionaries
accounts = {"1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
"1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
"2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}
for account_number, account_info in accounts.items():
    print("Account number:", account_number)
    print("Account name:", account_info["name"])
    print("Account balance:", account_info["balance"])
    print("Account type:", account_info["type"])

Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
Account number: 2001
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability

## III/ Python Control Logic and Loops

### Python if

In [ ]:
# Python if
score = 80

if score >=60 :
    print("Pass")

Pass

### Python if else

In [40]:
# Python if else
score = 80
if score >=60 :
    print("Pass")
else:
    print("Fail")

Pass

### Python if elif else

In [ ]:
# example 1
# Python if elif else
score = 95
if score >= 90 :
    print("A")
elif score >=60 :
    print("Pass")
else:
    print("Fail")

A

In [ ]:
# example 2
# Python if elif else
score = 90
grade = ""
if score >=90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "E"

print(grade)

A

### Python for Loops

In [ ]:
# example 1
# Python for Loops
for i in range(1,6):
    print(i)

1
2
3
4
5

In [ ]:
# example 2
# Python for loops
for i in range(1,10):
    for j in range(1,10):
        print(i, ' * ' , j , ' = ', i*j)

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81

### Python while loops

In [46]:
# while loops
age = 10
while age < 20:
    print(age)
    age = age + 1

10
11
12
13
14
15
16
17
18
19

## IV/ Python Functions

### Python Function

In [ ]:
# Python Function def
# indentation for blocks. four spaces
# def getfv() define get future value function
def getfv(pv, r, n):
    fv = pv * ((1 + (r)) ** n)
    return fv

fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

## V/ Python Classes/Objects

In [ ]:
# example 1
# Python class
class MyClass:
    x = 5

c1 = MyClass()
print(c1.x)

5

In [ ]:
# example 2
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("Alan", 20)

print(p1.name)
print(p1.age)

Alan
20

In [56]:
# example 3
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("Hello my name is " + self.name)

p1 = Person("Alan", 20)
p1.myfunc()

Hello my name is Alan

In [57]:
# example 4
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("Hello my name is " + self.name)

p1 = Person("Alan", 20)
p1.myfunc()
print(p1.name)
print(p1.age)

Hello my name is Alan
Alan
20

In [67]:
# example 5 - 1
class Vehicle:
    name = ""
    kind = "car"
    color = ""
    value = 100.00
    def description(self):
        desc_str = "%s is a %s %s worth $%.2f." % (self.name, self.color, self.kind, self.value)
        return desc_str

In [68]:
# example 5 - 2
car1 = Vehicle()
car1.name = "Fer"
car1.color = "red"
car1.kind = "convertible"
car1.value = 60000.00

car2 = Vehicle()
car2.name = "Jump"
car2.color = "blue"
car2.kind = "van"
car2.value = 10000.00

print(car1.description())
print(car1.name)
print(car2.description())
print(car2.name)

Fer is a red convertible worth $60000.00.
Fer
Jump is a blue van worth $10000.00.
Jump

## VI/ Python Modules

In [ ]:
# mymodule.py - import mymodule
import module.mymodule
module.mymodule.greeting("Alan")

Hello, Alan

## VII/ Files and Exception Handling

### Python Files (File Handling)

In [79]:
# example 1
f = open("file/myfile.txt", "w")

f.write("Hello World")
f.close()

f = open("file/myfile.txt", "r")

text = f.read()
print(text)
f.close()

Hello World

In [80]:
# example 2
# Python File Input / Output
with open('file/myfile.txt', 'w') as file:
    file.write('Hello World')

with open('file/myfile.txt', 'r') as file:
    text = file.read()

print(text)

Hello World

In [81]:
# example 3
# Python File Input / Output
with open('file/myfile.txt', 'w') as file:
    file.write('Hello World\nPython File IO')

with open('file/myfile.txt', 'r') as file:
    text = file.read()

print(text)

Hello World
Python File IO

In [82]:
# example 4
# Python File Input / Output
with open('file/myfile.txt', 'a+') as file:
    file.write('\n' + 'New line')

with open('file/myfile.txt', 'r') as file:
    text = file.read()

print(text)

Hello World
Python File IO
New line

In [86]:
# !ls list files - Chỉ phù hợp với Unix/Linux
# dùng lệnh !dir cho Windows

!dir

 Volume in drive D is Khang
 Volume Serial Number is 048C-32C8

 Directory of d:\Github\Data_Analysis_SGU_2025\Ph�n t�ch d? li?u\practice\lab2

17/09/2025  06:47 PM    <DIR>          .
16/09/2025  09:50 AM    <DIR>          ..
17/09/2025  01:54 PM             7,053 4a.png
17/09/2025  01:54 PM            21,535 4b.png
16/09/2025  09:50 AM    <DIR>          ex
17/09/2025  06:45 PM    <DIR>          file
17/09/2025  02:21 PM    <DIR>          html
16/09/2025  09:50 AM            28,224 lab2_03_ex_01.ipynb
17/09/2025  02:31 PM           125,576 lab2_04_ex_02.ipynb
17/09/2025  06:39 PM    <DIR>          module
17/09/2025  02:20 PM            27,423 pi.png
17/09/2025  06:57 PM            30,307 slide_PTDL-02-PythonProgramming_code.ipynb
17/09/2025  05:41 PM               759 slide_PTDL-03-HienThiVaPhanTichDuLieuVoiPython_code.ipynb
               7 File(s)        240,877 bytes
               6 Dir(s)  92,960,337,920 bytes free

### Python OS, IO, files, and Google Drive

In [87]:
import os

cwd = os.getcwd()
print(cwd)

d:\Github\Data_Analysis_SGU_2025\Phân tích dữ liệu\practice\lab2

### os.listdir()

In [88]:
os.listdir(cwd)

['4a.png',
 '4b.png',
 'ex',
 'file',
 'html',
 'lab2_03_ex_01.ipynb',
 'lab2_04_ex_02.ipynb',
 'module',
 'pi.png',
 'slide_PTDL-02-PythonProgramming_code.ipynb',
 'slide_PTDL-03-HienThiVaPhanTichDuLieuVoiPython_code.ipynb']

### os.path.join()

In [97]:
path = os.path.join(cwd,'file')

print(path)
os.listdir(path)

d:\Github\Data_Analysis_SGU_2025\Phân tích dữ liệu\practice\lab2\file

['myfile.txt']

### from google.colab import files

In [98]:
from google.colab import files 

with open('io_file_myday.txt', 'w') as f:
    f.write('Google Colab File Write Text some content Myday')

import time
time.sleep(1) # time sleep 1 second

files.download('io_file_myday.txt')
print('downloaded')

ModuleNotFoundError: No module named 'google.colab'